.head {
    height: 10vh;
}

.white {
    background-color: white;
}

.yellow {
    background-color: yellow;
}

.footer {
    width: 100vw;
    background-color: #1985c1;
    height: 10vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    z-index: 2;
}

.button {
    background-color: yellow;
    border: 10px solid #97e6ff;
    width: 40vw;
    border-radius: 30px; 
    margin: 10px;
}

.button:hover {
    border: none;
}

.foot {
    height: 25vh;
}
.table {
    max-width: 1000px;
}
.rollcall {
    display: flex;
    flex-flow:column nowrap;
    width: 100vw;
    max-width: 1000px;
    margin: auto;
}

div {
    max-width: 1000px;
    width: 100vw;
    margin: auto;
}